<div class="animated fadeIn">
  <app-table-header [tableService]="tableService" [tableHeaderBrand]="tableHeaderBrand"
                    [links]="tableHeaderLinks"></app-table-header>
  <div class="row" *ngIf="loadingService.isReady()">
    <div class="col-12">
      <div class="card card-fixed">
        <div class="card-body card-body-fixed">
          <table class="table table-fixed table-striped">
            <thead>
            <app-table-columns [tableService]="tableService"></app-table-columns>
            </thead>
            <tbody>
            <tr *ngFor="let cronJobTasks of tableService.getRows()">
              <td *ngIf="tableService.isColumnVisible(0)">
                {{ cronJobTasks.command }}
              </td>
              <td *ngIf="tableService.isColumnVisible(1)">
                {{ cronJobTasks.startDate | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(2)">
                {{ cronJobTasks.intervalPeriod }}
              </td>
              <td *ngIf="tableService.isColumnVisible(3)">
                {{ cronJobTasks.intervalContext }}
              </td>
              <td *ngIf="tableService.isColumnVisible(4)">
                {{ cronJobTasks.priority }}
              </td>
              <td *ngIf="tableService.isColumnVisible(5)">
                {{ cronJobTasks.nextRun | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(6)">
                {{ cronJobTasks.active | appYesNo }}
              </td>
              <td *ngIf="tableService.isColumnVisible(7)">
                <div class="btn-group-sm" role="group">
                  <a [routerLink]="[ 'update', cronJobTasks.id ]" type="button" class="btn btn-warning">
                    <i class="fas fa-pencil-alt fa-fw" aria-hidden="true"></i>
                    Update
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <app-table-pagination [tableService]="tableService"></app-table-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
