<tab>
  <ng-template tabHeading><i class="far fa-calendar"></i></ng-template>
  <div class="callout callout-light m-0 py-2 text-muted text-center bg-light text-uppercase small">
    <b>
      Events
    </b>
  </div>
  <div class="callout callout-primary m-0 py-2 text-white text-center bg-primary text-uppercase small">
    <b>
      <a [routerLink]="[ '/my/events/create']" class="text-white">
        Create
      </a>
    </b>
  </div>
  <ng-container *ngFor="let event of events; let lastEvent = last">
    <div class="callout callout-warning m-0 py-3">
      <p class="mb-2">
        {{ event.description }}
        <span *ngIf="event.users.length > 0"> with</span>
        <b *ngIf="event.users.length === 1">
          <ng-container *ngIf="isCreatedUser(event)">
            {{ event.users[0].username }}.
          </ng-container>
          <ng-container *ngIf="!isCreatedUser(event)">
            {{ event.createdBy.username }}.
          </ng-container>
        </b>
        <b *ngIf="event.users.length > 1"> {{ event.users.length }} others.</b>
      </p>
      <div>
        <div>
          <small class="text-muted">
            <i class="fa fa-fw fa-clock" aria-label="Time"></i>
            <span [ngSwitch]="true">
              <ng-container *ngSwitchCase="isSameTime(event.startDateTime, event.endDateTime)">
                {{ event.startDateTime | date:"dd/MM/yy h:mma" }}
              </ng-container>
              <ng-container *ngSwitchCase="isSameDay(event.startDateTime, event.endDateTime)">
                {{ event.startDateTime | date:"dd/MM/yy h:mma" }} - {{ event.endDateTime | date: "h:mma" }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ event.startDateTime | date:"dd/MM/yy h:mma" }} - {{ event.endDateTime | date: "dd/MM/yy h:mma" }}
              </ng-container>
            </span>
          </small>
        </div>
        <div>
          <small class="text-muted">
            <i class="fa fa-fw fa-map-marker-alt" aria-label="Location"></i>
            {{ event.location }}
          </small>
        </div>
        <div *ngIf="isCreatedUser(event)" class="text-right small">
          <a [routerLink]="[ '/my/events/update', event.id ]" class="text-muted">
            <i class="fas fa-pencil-alt" aria-label="Update"></i>
            Update
          </a>
          <a [routerLink]="" (click)="openModal(cancelEventModal, event)" class="text-muted">
            <i class="fas fa-trash" aria-label="Cancel"></i>
            Cancel
          </a>
        </div>
      </div>
    </div>
    <hr class="m-0 mx-3 my-1" *ngIf="!lastEvent">
    <ng-template #cancelEventModal>
      <div class="modal-body text-center">
        <p>
          Are you sure you want to cancel this Event?
        </p>
        <button type="button" class="btn btn-danger" (click)="cancelEvent(event)">
          Yes
        </button>
        <button type="button" class="btn btn-default" (click)="closeModal()">
          No
        </button>
      </div>
    </ng-template>
  </ng-container>
  <div class="py-3 text-muted text-center" *ngIf="events.length === 0">
    <b>
      You have no upcoming events.
    </b>
  </div>
</tab>
