<div class="animated fadeIn">
  <app-table-header [tableService]="tableService" [tableHeaderBrand]="tableHeaderBrand"></app-table-header>
  <div class="row" *ngIf="loadingService.isReady()">
    <div class="col-12">
      <div class="card card-fixed">
        <div class="card-body card-body-fixed">
          <table class="table table-fixed table-striped">
            <thead>
            <app-table-columns [tableService]="tableService"></app-table-columns>
            </thead>
            <tbody>
            <tr *ngFor="let cronJob of tableService.getRows()">
              <td *ngIf="tableService.isColumnVisible(0)">
                {{ cronJob.hostname }}
              </td>
              <td *ngIf="tableService.isColumnVisible(1)">
                {{ cronJob.pid }}
              </td>
              <td *ngIf="tableService.isColumnVisible(2)">
                {{ cronJob.startDate | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(3)">
                {{ cronJob.endDate | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(4)">
                {{ cronJob.endDate | amDifference: cronJob.startDate :'seconds' : true : 0}} seconds
              </td>
              <td *ngIf="tableService.isColumnVisible(5)">
                {{ cronJob.jobs.length }}
              </td>
              <td *ngIf="tableService.isColumnVisible(6)">
                <div class="btn-group-sm" role="group">
                  <a [routerLink]="[ 'log', cronJob.id ]" type="button" class="btn btn-warning">
                    <i class="fas fa-eye fa-fw" aria-hidden="true"></i>
                    View
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <app-table-pagination [tableService]="tableService"></app-table-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
