<div class="app flex-row align-items-center">
  <div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Login
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Please enter your login details.
        </h6>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control is-invalid"
                  placeholder="Username"
                  autofocus
                  required
                  [ngClass]="{'is-invalid':loginForm.get('username').hasError('required') && submitted}"
                  [formControl]="loginForm.get('username')">
              </div>
              <div
                *ngIf="loginForm.get('username').hasError('required') && submitted"
                class="text-danger">
                A username is required to login.
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                  [ngClass]="{'is-invalid':!loginForm.get('password').valid && submitted}"
                  [formControl]="loginForm.get('password')">
              </div>
              <div
                *ngIf="loginForm.get('password').hasError('required') && submitted"
                class="text-danger">
                A password is required to login.
              </div>
            </div>
            <div class="form-group last">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="processing">
                <span>
                  Login
                </span>
                <span *ngIf="!processing">
                <i class="fa fa-fw fa-lock"></i>
              </span>
                <span *ngIf="processing">
                <i class="fa fa-fw fa-spinner fa-pulse "></i>
                <span class="sr-only">Loading...</span>
            </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>
