<div class="app flex-row align-items-center">
  <div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Login
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Please enter your login details.
        </h6>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control is-invalid"
                  placeholder="Username"
                  autofocus
                  required
                  [ngClass]="{'is-invalid':loginForm.get('username').hasError('required') && submitted}"
                  [formControl]="loginForm.get('username')">
              </div>
              <div
                *ngIf="loginForm.get('username').hasError('required') && submitted"
                class="text-danger">
                A username is required to login.
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                  [ngClass]="{'is-invalid':!loginForm.get('password').valid && submitted}"
                  [formControl]="loginForm.get('password')">
              </div>
              <div
                *ngIf="loginForm.get('password').hasError('required') && submitted"
                class="text-danger">
                A password is required to login.
              </div>
            </div>
            <div class="form-group last">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="processing">
                <span>
                  Login
                </span>
                <span *ngIf="!processing">
                <i class="fa fa-fw fa-lock"></i>
              </span>
                <span *ngIf="processing">
                <i class="fa fa-fw fa-spinner fa-pulse "></i>
                <span class="sr-only">Loading...</span>
            </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>

<!--
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="form-group" [ngClass]="{'has-danger':!loginForm.controls['username'].valid && submitted}">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username"
                           [formControl]="loginForm.controls['username']">
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-danger':loginForm.controls['password'].hasError('required') && submitted}">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password"
                           [formControl]="loginForm.controls['password']">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
