<app-header></app-header>

<div class="app-body">
  <div class="sidebar" *ngIf="authenticationService.isLoggedIn()">
    <app-sidebar-nav></app-sidebar-nav>
    <button class="sidebar-minimizer" type="button" appSidebarMinimizer appBrandMinimizer></button>
  </div>

  <main class="main">
    <ol class="breadcrumb" *ngIf="authenticationService.isLoggedIn()">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <app-alert></app-alert>
    <app-loading></app-loading>
    <router-outlet></router-outlet>
  </main>

  <app-aside></app-aside>
</div>

<app-footer *ngIf="authenticationService.isLoggedIn()"></app-footer>
