<app-header></app-header>

<div class="app-body">
  <div class="sidebar">
    <app-sidebar-nav></app-sidebar-nav>
    <button class="sidebar-minimizer" type="button" appSidebarMinimizer appBrandMinimizer></button>
  </div>

  <main class="main">
    <ol class="breadcrumb" *ngIf="authenticationService.isLoggedIn()">
      <app-breadcrumbs></app-breadcrumbs>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Quick Links">
          <a class="btn" [routerLink]=" [''] " (click)="authenticationService.logout()">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
            Logout
          </a>
        </div>
      </li>
    </ol>
    <app-alert></app-alert>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-aside></app-aside>
</div>

<app-footer></app-footer>
