<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="[ '' ]"></a>
  <ul class="nav navbar-nav d-md-down-none" *ngIf="authenticationService.isLoggedIn()">
    <li class="nav-item">
      <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto d-none d-lg-inline-flex" *ngIf="authenticationService.isLoggedIn()">
    <li class="nav-item px-3">
      <a [routerLink]=" ['my'] " class="nav-link">
        <i class="fa fa-user" aria-hidden="true"></i>
        My Account
      </a>
    </li>
    <li class="nav-item px-3">
      <a [routerLink]="" (click)="authenticationService.logout()" class="nav-link">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
        Logout
      </a>
    </li>
  </ul>
  <div dropdown class="navbar-nav ml-auto d-lg-none nav-dropdown-container">
    <a [routerLink]="" dropdownToggle (click)="false" class="dropdown-toggle">
      <i class="fas fa-cogs fa-fw" aria-hidden="true"></i>
      Actions
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a [routerLink]=" ['my'] " class="dropdown-item">
          <i class="fa fa-user" aria-hidden="true"></i>
          My Account
        </a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a [routerLink]="" (click)="authenticationService.logout()" class="dropdown-item">
          <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav" *ngIf="authenticationService.isLoggedIn()">
    <li class="nav-item">
      <button class="navbar-toggler" type="button" appAsideMenuToggler>
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</header>
