<div class="animated fadeIn">
  <app-table-header [tableService]="tableService" [tableHeaderBrand]="tableHeaderBrand"
                    [links]="tableHeaderLinks"></app-table-header>
  <div class="row" *ngIf="loadingService.isReady()">
    <div class="col-12">
      <div class="card card-fixed">
        <div class="card-body card-body-fixed">
          <table class="table table-fixed table-striped">
            <thead>
            <app-table-columns [tableService]="tableService"></app-table-columns>
            </thead>
            <tbody>
            <tr *ngFor="let user of tableService.getRows(); let index = index">
              <td *ngIf="tableService.isColumnVisible(index)">
                {{ user.username }}
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                {{ user.loginCount }}
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                {{ user.lastLogin | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                {{ user.roles.length }}
                <!--suppress HtmlUnknownAttribute -->
                <span *ngIf="user.roles.length > 0"
                      [popover]="rolesTemplate"
                      popoverTitle="Roles"
                      placement="right"
                      triggers="mouseenter:mouseleave">
                  <i class="fas fa-1x fa-question-circle" aria-hidden="true"></i>
                </span>
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                <div class="badge badge-success" *ngIf="user.enabled">
                  Enabled
                </div>
                <div class="badge badge-danger" *ngIf="!user.enabled">
                  Disabled
                </div>
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                {{ user.createdOn | date:"dd/MM/yy HH:mm:ss" }}
              </td>
              <td *ngIf="tableService.isColumnVisible(index)">
                <div class="btn-group-sm" role="group">
                  <a [routerLink]="[ 'update', user.id ]" type="button" class="btn btn-warning">
                    <i class="fas fa-pencil-alt fa-fw" aria-hidden="true"></i>
                    Update
                  </a>
                  <a [routerLink]="['delete', user.id]" type="button" class="btn btn-danger">
                    <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                    Delete
                  </a>
                </div>
              </td>
              <ng-template #rolesTemplate>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let role of user.roles">
                    {{ role.title }}
                  </li>
                </ul>
              </ng-template>
            </tr>
            </tbody>
          </table>
          <app-table-pagination [tableService]="tableService"></app-table-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
