input.datepicker {
  background-color: $white !important;
}

.bs-datepicker-head {
  text-align: center;
}

.bs-datepicker-container {
  padding: 0;
}

.bs-timepicker-field {
  width: 60px !important;
}
