<div class="card">
  <div class="card-header">
    <i class="fas fa-lock fa-fw" aria-hidden="true"></i>
    Password
  </div>
  <div class="card-body">
    <div class="col-12">
      <form [formGroup]="passwordForm" (submit)="onSubmit(passwordForm)" novalidate>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-asterisk fa-fw"></i>
                    </span>
            </div>
            <input class="form-control" name="currentPassword" placeholder="Current Password" type="password"
                   title="Current Password" [formControl]="passwordForm.get('currentPassword')"
                   [ngClass]="{'is-invalid':passwordForm.get('currentPassword').hasError('required') && submitted}">
          </div>
          <div
            *ngIf="passwordForm.get('currentPassword').hasError('required') && submitted"
            class="text-danger">
            Your Current Password is a required field.
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-asterisk fa-fw"></i>
                    </span>
            </div>
            <input class="form-control" name="password" placeholder="New Password" type="password" title="New Password"
                   [formControl]="passwordForm.get('password')"
                   [ngClass]="{'is-invalid':passwordForm.get('password').hasError('required') && submitted}">
          </div>
          <div
            *ngIf="passwordForm.get('password').hasError('required') && submitted"
            class="text-danger">
            Your New Password is a required field.
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-asterisk fa-fw"></i>
                    </span>
            </div>
            <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password"
                   title="Confirm Password"
                   [formControl]="passwordForm.get('confirmPassword')"
                   [ngClass]="{'is-invalid':(passwordForm.get('confirmPassword').hasError('required') || passwordForm.get('confirmPassword').hasError('matchPassword')) && submitted}">
          </div>
          <div
            *ngIf="passwordForm.get('confirmPassword').hasError('required') && submitted"
            class="text-danger">
            The Confirm Password is a required field.
          </div>
          <div
            *ngIf="passwordForm.get('confirmPassword').hasError('matchPassword') && submitted"
            class="text-danger">
            The Confirm Password must match the password field.
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="processing">
            <i class="far fa-fw fa-save" aria-hidden="true"></i>
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="passwordForm.reset();">
            <i class="fas fa-fw fa-undo" aria-hidden="true"></i>
            Reset
          </button>
          <a [routerLink]="['../profile']" class="btn btn-warning">
            <i class="fas fa-fw fa-times" aria-hidden="true"></i>
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
